html, body {
    margin: auto;
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-image: url('https://i.postimg.cc/28qMXbmz/Gojo-vs-Sukuna.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container_info span{
    font-size: 24px;
}

.container_info p{
    font-size: 19px;
}

.container_info {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-self: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    text-align: center;
    color: black;
    border: 1px solid white;
    backdrop-filter: blur(7px);
    padding: 10px;
    box-shadow: 0px 0px 50px white;
}

.align_info {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.video_container {
    height: 50%;
    border-radius: 20px;
    overflow: hidden;
    align-self: center;
    box-shadow: 0px 0px 30px white;
}

.video_container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.botonir {
    width: 40%;
    background-color: rgb(28, 124, 226);
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

@media(min-width: 541px) and (max-width: 1024px){
    .align_info{
        flex-direction: column-reverse;
        gap: 10px;
    }

    .container_info{
        width: 70%;
        background-color: grey;
        backdrop-filter: none;
    }
}

@media(max-width: 540px){
    .align_info{
        flex-direction: column-reverse;
        gap: 10px;
    }

    .container_info{
        width: 100%;
        background-color: grey;
        backdrop-filter: none;
    }

    .botonir{
        width: 50%;
    }
}